<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Session Example</title>
</head>
<body>
<form>
    <h2>Available Users</h2>
    <ul th:each="usr : ${users}">
        <li>
            <label>
                <!--                <input type="checkbox" th:field="${usr.selected}" th:value="${usr.userId}"/>-->
                <!--                <input type="checkbox" />-->
                <input type="checkbox" data-user-id="${usr.id}" class="user-checkbox"
                       th:onclick="task(event, [[${usr.userId}]] );"/>
                <!--                <span th:text="${usr.username}"  ></span>-->
                <span th:text="${usr.username + (usr.restaurantPreferenceName != null ? ' - ' + usr.restaurantPreferenceName : '')}"></span>
            </label>
        </li>
    </ul>
</form>
<script>
    function task(e, userId) {
        if (e.target.checked) {
            console.log("user invitation reverted ", userId);
            fetch("http://localhost:8080/chooseRestaurant/" + userId + "?invited=true", {
                method: "POST",
                // body: JSON.stringify({
                //     userId: 1,
                //     title: "Fix my bugs",
                //     completed: false
                // }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => console.log(json));
        } else {
            console.log("user invited ", userId);
            fetch("http://localhost:8080/chooseRestaurant/" + userId + "?invited=false", {
                method: "POST",
                // body: JSON.stringify({
                //     userId: 1,
                //     title: "Fix my bugs",
                //     completed: false
                // }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
                .then((response) => response.json())
                .then((json) => console.log(json));
        }
    }
</script>

<div>
    <form th:action="@{/destroy}" method="post">
        <input type="submit" value="Destroy Session"/>
    </form>
</div>
</body>
</html>